
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>QR Code Data</h2>

<table>
  <tr>
    <td>
      <img src="https://i.imgur.com/uW0H7O4.png" alt="QR Code">
    </td>
    <td>
      <table>
        <tr>
          <td>Nama Anggota</td>
          <td>: Muhammad</td>
        </tr>
        <tr>
          <td>Tipe Jaminan</td>
          <td>: SHM</td>
        </tr>
        <tr>
          <td>Atas Nama</td>
          <td>: Muhammad</td>
        </tr>
        <tr>
          <td>Nomor Agunan</td>
          <td>: 0-25360ADJ</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>: Desa Katur</td>
        </tr>
        <tr>
          <td>Kotak Jaminan</td>
          <td>: AL-KAHFI</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>